node_modules/
.expo/
dist/
web-build/
.DS_Store
*.pem
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.dev
.env.prod
.env*.local
android/
ios/
google-services.json
google-services.dev.json
google-services.prod.json
GoogleService-Info.plist
GoogleService-Info.dev.plist
GoogleService-Info.prod.plist
